<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156552760518-tms9mr9b4rvea9cqt3pj36cgqcp7bljb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156552760518-tms9mr9b4rvea9cqt3pj36cgqcp7bljb</string>
	<key>API_KEY</key>
	<string>AIzaSyCLE7hfuv4oqjek2CYlQepDXwXjah31UBM</string>
	<key>GCM_SENDER_ID</key>
	<string>156552760518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gasqui.IChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-for-u</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-for-u.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156552760518:ios:8d88675046e1bef3f65bc7</string>
</dict>
</plist>